@import url(http://fonts.googleapis.com/css?family=Raleway);



body {
  text-align:center;
  font-size:2.0em;
}

span {
  font-family: 'Glyphicons Halflings';
}

li, p, h2, h3, h4, h5, h6, small {
    font-family: 'Raleway', sans-serif;
}

/*body, div {
    border: 1px dashed;
}*/

.navbar {
  margin-bottom:-0px;
  color:#26BD3A;
  margin-top:0px;
  margin-right:7px;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus { 
 background-color: white
}

.navbar-nav>li>a {
  color:#222222;
  background-color:white;
}

.navbar-nav>li>a:hover, 
.nav.navbar-nav>li.dropdown.open>a, 
.nav.navbar-nav>li.dropdown.open>ul.dropdown-menu a:hover {
  color:#26bd3a;
  background-color:white;
}

.navbar-brand {
  color:#222222;
}

.navbar-brand:hover {
  color:#428BCA;
}

.icon-bar {
  color:black;
  background-color:black;
}

li.dropdown {
  background-color:white;
}

#jumbotron {
  /*background-image: url(https://lh4.googleusercontent.com/-TtYxCbC_TcQ/U_6p9hgtGiI/AAAAAAAACQs/s-YM4mDvyrw/w941-h403-no/IMG_20140828_000259.jpg);
  background-size:100%;
  background-repeat: no-repeat;*/
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width:100%;
  background-color:white;
}

.jumbotron p {
  font-size:0.5em;
}

.image
{
width:100%;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

h1 {
  font-size:3em;
  letter-spacing:1px;
  font-family: 'Raleway', sans-serif;
}



.U3 h3 {
 color:#26BD3A; 
}

.U3 li {
  list-style:none;
}


.signature {
  line-height: .9;
}

.container-fluid {
 background-color:white;
}
