@import url(http://fonts.googleapis.com/css?family=Raleway);


body {
  text-align:center;
  font-size:2.0em;
}

span {
  font-family: 'Glyphicons Halflings';
}

li, p, h2, h3, h4, h5, h6, small, span {
    font-family: 'Raleway', sans-serif;
}

/*body, div {
    border: 1px dashed;
}*/

.navbar {
  margin-bottom:-0px;
  color:#26BD3A;
  margin-top:0px;
  margin-right:7px;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus { 
 background-color: white
}

.navbar-nav>li>a {
  color:#222222;
  background-color:white;
}

.navbar-nav>li>a:hover, 
.nav.navbar-nav>li.dropdown.open>a, 
.nav.navbar-nav>li.dropdown.open>ul.dropdown-menu a:hover {
  color:#26bd3a;
  background-color:white;
}

.navbar-brand {
  color:#222222;
}

.navbar-brand:hover {
  color:#428BCA;
}

.icon-bar {
  color:black;
  background-color:black;
}

li.dropdown {
  background-color:white;
}


.aboutfooter{
  padding: 2% 0px 2% 0px;
}

.btn.toTop>a, .btn.toTop>a:hover, .btn:hover {
  color:#26bd3a;
  background-color:white;
  border-color:#26bd3a;
  text-decoration: none;
}

#jumbotron {
  /*background-image: url(https://lh4.googleusercontent.com/-TtYxCbC_TcQ/U_6p9hgtGiI/AAAAAAAACQs/s-YM4mDvyrw/w941-h403-no/IMG_20140828_000259.jpg);
  background-size:100%;
  background-repeat: no-repeat;*/
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width:100%;
  background-color:white;
}

#leadpaddedjumbotron {
  padding:0px 0px 10% 0px;
  background-color:white;
}

#paddedjumbotron1 {
  padding:6% 0px 10% 0px;
  font-size:2.0em;
background-image: url(https://lh6.googleusercontent.com/-h_Iua9RoZ60/VMniC0e8MEI/AAAAAAAADco/fUd9yBeOX6c/s50-no/transpBlack10.png);
}

#paddedjumbotron2 {
  padding:12% 0px 12% 0px;
  
}

#paddedjumbotron3 {
  padding:4% 0px 8% 0px;
  font-size:2.0em;
background-image: url(https://lh6.googleusercontent.com/-h_Iua9RoZ60/VMniC0e8MEI/AAAAAAAADco/fUd9yBeOX6c/s50-no/transpBlack10.png);
}

.currently {
  border-color:black;
  border-right-style: solid;
  border-width:1px ;
}


.jumbotron p {
  font-size:18px;
}

.jumbotron h1 {
  font-size:3.0em;
}

.met, .tmc
{
width:100%;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

.odome {
width:94%;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
-webkit-filter: grayscale(100%); filter: grayscale(100%);
}

.pyramid {
height:20%;  
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
overflow:hidden;
border: 2px black;
}


h1 {
  font-size:4.0em;
  letter-spacing:1px;
  font-family: 'Raleway', sans-serif;
}

.U3 h3 {
 color:#26BD3A; 
}

.U3 li {
  list-style:none;
}






.signature {
  line-height: .9;
}

.container-fluid {
 background-color:white;

}

.projects {
  padding:10% 0px 10% 0px;
}

/*.projectsTable {
  background-color:black;
  opacity:0.5;
}*/

/*.tdBackground1 {
  background-image:url('https://lh4.googleusercontent.com/-GKTKgMVjEBk/VKTGlzpyFWI/AAAAAAAADVw/8k_O_UDCcEM/w564-h376-no/highwaylights.jpg');
  opacity:0.5;
  background-position:center;
  vertical-align:middle;
  background-repeat:no-repeat;
width: 100% \9;
  overflow:hidden;
}

.tdBackground2 {
  background-image:url('https://lh3.googleusercontent.com/-aguEJeEP6Ms/UzRV9898aYI/AAAAAAAADWE/jBF9xDzY-F4/w622-h420-no/20140327_123729.jpg');
    opacity:0.5;
  position:center;
  vertical-align:middle;
  background-repeat:no-repeat;
  width: 100% \9;
  overflow:hidden;
}
*/

.tableHeaderCustom {
  padding:22%;
  color:black;
}


.iconmelon,
.im {
  position: relative;
  width: 64px;
  height: 64px;
  display: block;
  fill: #525151;
}

.iconmelon.icon404,
.im.icon404 {
  position: relative;
  width: 240px;
  height: 240px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
